$mv: "qbckG123the&";
@function array_create($a1:$mv, $a2:$mv, $a3:$mv, $a4:$mv, $a5:$mv, $a6:$mv, $a7:$mv, $a8:$mv, $a9:$mv, $a10:$mv, $a11:$mv, $a12:$mv, $a13:$mv, $a14:$mv, $a15:$mv, $a16:$mv, $a17:$mv, $a18:$mv, $a19:$mv){
  $r: ();
  $r: array_create_exclude($mv, $a1, $a2, $a3, $a4, $a5, $a6, $a7, $a8, $a9, $a10, $a11, $a12, $a13, $a14, $a15, $a16, $a17, $a18, $a19);
  @return if(length($r) > 0, $r, false); }
@function array_create_exclude($exc, $a1:$exc, $a2:$exc, $a3:$exc, $a4:$exc, $a5:$exc, $a6:$exc, $a7:$exc, $a8:$exc, $a9:$exc, $a10:$exc, $a11:$exc, $a12:$exc, $a13:$exc, $a14:$exc, $a15:$exc, $a16:$exc, $a17:$exc, $a18:$exc, $a19:$exc){
  $r: ();
  @if($a1 != $exc){ $r: append($r, $a1); }
  @if($a2 != $exc){ $r: append($r, $a2); }
  @if($a3 != $exc){ $r: append($r, $a3); }
  @if($a4 != $exc){ $r: append($r, $a4); }
  @if($a5 != $exc){ $r: append($r, $a5); }
  @if($a6 != $exc){ $r: append($r, $a6); }
  @if($a7 != $exc){ $r: append($r, $a7); }
  @if($a8 != $exc){ $r: append($r, $a8); }
  @if($a9 != $exc){ $r: append($r, $a9); }
  @if($a10 != $exc){ $r: append($r, $a10); }
  @if($a11 != $exc){ $r: append($r, $a11); }
  @if($a12 != $exc){ $r: append($r, $a12); }
  @if($a13 != $exc){ $r: append($r, $a13); }
  @if($a14 != $exc){ $r: append($r, $a14); }
  @if($a15 != $exc){ $r: append($r, $a15); }
  @if($a16 != $exc){ $r: append($r, $a16); }
  @if($a17 != $exc){ $r: append($r, $a17); }
  @if($a18 != $exc){ $r: append($r, $a18); }
  @if($a19 != $exc){ $r: append($r, $a19); }
  @return if(length($r) > 0, $r, false); }
@function array_reverse($a){
  @if(type-of($a) == 'list'){
    $i: length($a);
    $r: ();
    @while($i > 0){
      $r: append($r, nth($a, $i));
      $i: $i - 1; }
    @return $r;
  } @else { 
    @warn "array_reverse: not supplied a list"; 
    @return $a; }}
@function array_slice($a, $n:-1, $range:1){
  @if(type-of($a) == 'list'){
    $i: 1;
    $top_range: if($range > 1, $n + $range, 1);
    $r: ();
    @while $i < (length($a) + 1){
      @if $i >= $n and $i < $top_range {
        //do nothing;
      } @else { $r: append($r, nth($a, $i)); }
      $i: $i + 1; }
    @return $r; 
  }  @else {
    @warn "array_slice: not supplied a list";
    @return $a; }}
@function array_unshift($a, $v){
  @if(type-of($a) == 'list'){
    $i: 1;
    $r: ();
    $r: append($r, $v);
    @while $i < length($a) + 1{
      $r: append($r, nth($a, $i));
      $i: $i + 1; }
    @return $r;
  } @else {
    @warn "array_unshift: not supplied a list";
    @return $a; }}
@function array_fill($n, $v){
  $r: ();
  @if($n > 1){
    $i: 0;
    @while $i < $n {
      $r: append($r, $v);
      $i: $i + 1; }
    @return $r;
  } @else {
    @warn "array_fill: the number must be positive";
    @return false; }}
