@function cast_to_number($n){
  $strings: '0' '1' '2' '3' '4' '5' '6' '7' '8' '9';
  $numbers: 0 1 2 3 4 5 6 7 8 9;
  $result: 0;
  $minus: false;
  $divider: 0;
  @for $i from 1 through str-length($n) {
    $char: str-slice($n, $i);
    @if($char == '-'){
      $minus: true;
    } @else if($char == '.'){
      $divider: true;
    } @else {
      $index: index($strings, $char);
      @if(not $index){
        @warn $n + " is not valid for cast_to_number";
        @return 0; }
      $number: nth($numbers, $index);
      @if($divider == 0){
        $result: $result * 10;
      } @else {
        $divider: $divider * 10;
        $number: $number/$divider; }
      $result: $result + $number; }}
  @return if($minus, $result * -1, $result); }
