$responsive_settings: "tiny" "screen and (min-device-width: 600px)", "big" "screen and (min-device-width: 800px)";
@mixin responsive($a1:false,$a2:false,$a3:false,$a4:false,$a5:false,$a6:false,$a7:false,$a8:false,$a9:false,$a10:false,$a11:false,$a12:false,$a13:false,$a14:false,$a15:false,$a16:false,$a17:false,$a18:false,$a19:false){
  $args_list: array_create_exclude(false, $a1, $a2, $a3, $a4, $a5, $a6, $a7, $a8, $a9, $a10, $a11, $a12, $a13, $a14, $a15, $a16, $a17, $a18, $a19);
  $fallback_list: if(type-of($a1) == 'list', $a1, false);
  $args_list: if($fallback_list != false, $fallback_list, $args_list);
  
  @for $i from 1 through length($args_list){
    $type: nth($args_list, $i);
    @media #{get_responsive_type($type)} { & { @content; }}
  }
}
@function get_responsive_type($type:false){
  $r: false;
  @if($type != false){
    $s: 0;
    @while $s < length($responsive_settings) and $r == false {
      $s: $s + 1;
      $n: nth(nth($responsive_settings, $s), 1);
      @if($n == $type){
        $r: nth(nth($responsive_settings, $s), 2);
      }}}
  @if($r == false){ $r: "all"; }
  $r: unquote($r);
  @return $r; }
