$_bi_d: -1 !default;
$responsive_settings: "tiny" "screen and (min-device-width: 600px)", "big" "screen and (min-device-width: 800px)";

@mixin responsive($a1,$a2:$_bi_d,$a3:$_bi_d,$a4:$_bi_d,$a5:$_bi_d,$a6:$_bi_d,$a7:$_bi_d,$a8:$_bi_d,$a9:$_bi_d,$a10:$_bi_d,$a11:$_bi_d,$a12:$_bi_d,$a13:$_bi_d,$a14:$_bi_d,$a15:$_bi_d,$a16:$_bi_d,$a17:$_bi_d,$a18:$_bi_d,$a19:$_bi_d){
    $args_list: arguments($a1,$a2,$a3,$a4,$a5,$a6,$a7,$a8,$a9,$a10,$a11,$a12,$a13,$a14,$a15,$a16,$a17,$a18,$a19);
    @for $i from 1 through length($args_list){
        $type: nth($args_list, $i);
        @media #{get_responsive_type($type)} { & { @content; }}}}

@function get_responsive_type($type:false){
    $r: false;
    @if($type != false){
        $s: 0;
    @while $s < length($responsive_settings) and $r == false {
        $s: $s + 1;
        $n: nth(nth($responsive_settings, $s), 1);
        @if($n == $type){
            $r: nth(nth($responsive_settings, $s), 2); }}}
    @if($r == false){ $r: "all"; }
    $r: unquote($r);
    @return $r; }

@function buildResponsiveString($minWidth:'', $maxWidth:''){
    $str: '';
    $str-add: '';
    $minWidth: if($minWidth != '', safe-unquote($minWidth), '');
    $maxWidth: if($maxWidth != '', safe-unquote($maxWidth), '');
    @if ($minWidth != '' and $maxWidth != ''){
        $minWidth: measure($minWidth,em);
        $maxWidth: measure($maxWidth,em);
        $str-add: 'all and (min-width: ' + $minWidth + ') and (max-width: ' + $maxWidth + ') ';
    } @else if($minWidth != ''){
        $minWidth: measure($minWidth,em);
        $str-add: 'all and (min-width: ' + $minWidth + ') ';
    } @else if($maxWidth != ''){
        $maxWidth: measure($maxWidth,em);
        $str-add: 'all and (max-width: ' + $maxWidth + ') ';
    }
    $str: $str + $str-add + 'and (min-resolution: 70dpi), ';
    $str: $str + $str-add + 'and (-webkit-min-device-pixel-ratio: 1), ';
    $str: $str + $str-add + 'and (min-resolution: 1dppx), ';
    $str: $str + $str-add + 'and (-moz-min-device-pixel-ratio: 1), ';
    $str: $str + $str-add + 'and (min--moz-device-pixel-ratio: 1), ';
    $str: $str + $str-add + 'and (-o-min-device-pixel-ratio: 1/1)';
    @return $str; }
