@import 'true';
@import '../../../globalimport.scss';
@import '../src/before_float_fix.scss';
@include describe('before_float_fix mixin') {
    @include it('Outputs before_float_fixs') {
        @include assert {
            @include output {
                #cheese {
                    @include before_float_fix;
                }
            }
            @include contains {
                #cheese::before {
                    content: ".";
                    display: block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                    overflow: hidden;
                    font-size: 0;
                    line-height: 0;
                    padding: 0;
                    margin: 0; }
            }
        }
    }
    @include it('Outputs before_float_fix(reset)') {
        @include assert {
            @include output {
                #cheese {
                    @include before_float_fix(reset);
                }
            }
            @include contains {
                #cheese::before {
                    content: none;
                    display: inherit;
                    height: inherit;
                    clear: inherit; 
                    visibility: inherit;
                    overflow: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    padding: inherit;
                    margin: inherit; }
            }
        }
    }
    @include it('Outputs reset_before_float_fix') {
        @include assert {
            @include output {
                #cheese {
                    @include reset_before_float_fix;
                }
            }
            @include contains {
                #cheese::before {
                    content: none;
                    display: inherit;
                    height: inherit;
                    clear: inherit; 
                    visibility: inherit;
                    overflow: inherit;
                    font-size: inherit;
                    line-height: inherit;
                    padding: inherit;
                    margin: inherit; }
            }
        }
    }
}
