$_bi_d: -1 !default;
@mixin __perspective-origin($a1, $a2:$_bi_d){
    $args: arguments($a1,$a2);
    $args: list-change-separator($args, ' ');
    $args: list-safe-unquote-items($args);

    $good: if(length($args) > 0 and length($args) < 3, true, false); //constrain to 1|2 args
    $had-x: false;
    $had-y: false;
    @for $i from 1 through length($args) {
        $on: nth($args, $i);
        @if length($args) == 1 and is-reserved-variable($on) {
            $good: $good;
        } @else if (is-length($on) or is-percent($on)) {
            $good: $good;
        } @else if (is-x-position-keyword-value($on) and $had-x == false) {
            $had-x: true;
        } @else if (is-y-position-keyword-value($on) and $had-y == false) {
            $had-y: true;
        } @else {
            $good: false; }}
    @if $good {
        -moz-perspective-origin: $args;
        -webkit-perspective-origin: $args;
        perspective-origin: $args;
    }
}

@function is-x-position-keyword-value($val) {
    $list: (left center right);
    @return if(index($list,$val) != null, true, false); }
@function is-y-position-keyword-value($val) {
    $list: (top center bottom);
    @return if(index($list,$val) != null, true, false); }
