$_bi_d: -1 !default;
@mixin __border-image($a1:all,$a2:$_bi_d,$a3:$_bi_d,$a4:$_bi_d,$a5:$_bi_d,$a6:$_bi_d,$a7:$_bi_d,$a8:$_bi_d,$a9:$_bi_d){
    $args: arguments($a1,$a2,$a3,$a4,$a5,$a6,$a7,$a8,$a9);
    $args: list-change-separator($args, ' ');
    $args: list-safe-unquote-items($args);

    -moz-border-image: $args;
    -o-border-image: $args;
    -webkit-border-image: $args;
    border-image: $args; }
