@import 'true';
@import '../../../globalimport.scss';
@import '../src/construction-grid.scss';
@include describe('construction-grid mixin') {
    @include it('Outputs a construction grid of 10px by 10px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%, 100% 10px; }}}}
    @include it('Outputs a construction grid of 10px by 15px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px 15px);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%, 100% 15px; }}}}
    @include it('Outputs a construction grid of 10px by 10px and 15px by 15px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px 10px, 15px 15px);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%, 100% 10px, 15px 100%, 100% 15px; }}}}
    @include it('Outputs a construction grid of 10px by 0px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px 0px);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%; }}}}
    @include it('Outputs a construction grid of 10px by 10px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px blue);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%, 100% 10px; }}}}
    @include it('Outputs a construction grid of 0px by 10px') {
        @include assert {
            @include output(false) {
                @include construction-grid(0 10px blue);
            }
            @include contains(false) {
                body:after {
                    background-size: 100% 10px; }}}}
    @include it('Outputs a construction grid of 10px by 0px') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px 0 blue);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%; }}}}
    @include it('Outputs a construction grid of 10px by 15px in Color black') {
        @include assert {
            @include output(false) {
                @include construction-grid(10px 15px #000);
            }
            @include contains(false) {
                body:after {
                    background-size: 10px 100%, 100% 15px;
                    background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 1px, transparent 1px, transparent), repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 1px, transparent 1px, transparent);
                }
            }
        }
    }
    @include it('Outputs a construction grid of 15px black, 10px blue') {
        @include assert {
            @include output(false) {
                @include construction-grid(15px black, 10px blue);
            }
            @include contains(false) {
                body:after {
                    background-size: 15px 100%, 100% 15px, 10px 100%, 100% 10px;
                    background-image: repeating-linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 1px, transparent 1px, transparent), repeating-linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) 1px, transparent 1px, transparent), repeating-linear-gradient(90deg, rgba(0,0,255,0.5), rgba(0,0,255,0.5) 1px, transparent 1px, transparent), repeating-linear-gradient(0deg, rgba(0,0,255,0.5), rgba(0,0,255,0.5) 1px, transparent 1px, transparent);
}
            }
        }
    }
}
