@import 'true';
@import '../../../globalimport.scss';
@import '../src/transition.scss';
@include describe('__transition mixin') {
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; none') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(none);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                    -webkit-transition: none;
                    transition: none;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; inherit') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(inherit);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: inherit;
                    -ms-transition: inherit;
                    -o-transition: inherit;
                    -webkit-transition: inherit;
                    transition: inherit;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; initial') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(initial);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: initial;
                    -ms-transition: initial;
                    -o-transition: initial;
                    -webkit-transition: initial;
                    transition: initial;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; unset') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(unset);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: unset;
                    -ms-transition: unset;
                    -o-transition: unset;
                    -webkit-transition: unset;
                    transition: unset;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s, unbracketed') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(margin-right 4s);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s;
                    -ms-transition: margin-right 4s;
                    -o-transition: margin-right 4s;
                    -webkit-transition: margin-right 4s;
                    transition: margin-right 4s;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s, bracketed') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition((margin-right 4s));
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s;
                    -ms-transition: margin-right 4s;
                    -o-transition: margin-right 4s;
                    -webkit-transition: margin-right 4s;
                    transition: margin-right 4s;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s 1s') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(margin-right 4s 1s);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s 1s;
                    -ms-transition: margin-right 4s 1s;
                    -o-transition: margin-right 4s 1s;
                    -webkit-transition: margin-right 4s 1s;
                    transition: margin-right 4s 1s;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s ease-in-out') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(margin-right 4s ease-in-out);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s ease-in-out;
                    -ms-transition: margin-right 4s ease-in-out;
                    -o-transition: margin-right 4s ease-in-out;
                    -webkit-transition: margin-right 4s ease-in-out;
                    transition: margin-right 4s ease-in-out;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s ease-in-out 1s') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(margin-right 4s ease-in-out 1s);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s ease-in-out 1s;
                    -ms-transition: margin-right 4s ease-in-out 1s;
                    -o-transition: margin-right 4s ease-in-out 1s;
                    -webkit-transition: margin-right 4s ease-in-out 1s;
                    transition: margin-right 4s ease-in-out 1s;
                }
            }
        }
    }
    @include it('Outputs transition proceeded by the -o, -ms, -moz and webkit prefixes; margin-right 4s, color 1s') {
        @include assert {
            @include output {
                #cheese {
                    @include __transition(margin-right 4s, color 1s);
                }
            }
            @include expect {
                #cheese {
                    -moz-transition: margin-right 4s, color 1s;
                    -ms-transition: margin-right 4s, color 1s;
                    -o-transition: margin-right 4s, color 1s;
                    -webkit-transition: margin-right 4s, color 1s;
                    transition: margin-right 4s, color 1s;
                }
            }
        }
    }
}
