$_bi_d: -1 !default;
@mixin __border-image-slice($a1:unset,$a2:$_bi_d,$a3:$_bi_d,$a4:$_bi_d) {
    $args: arguments($a1,$a2,$a3,$a4);
    $args: list-change-separator($args, ' ');
    $args: list-safe-unquote-items($args);
    //need to properly check over what is supplied;
    -moz-border-image-slice: $args;
    -o-border-image-slice: $args;
    -webkit-border-image-slice: $args;
    border-image-slice: $args;
}
