@import 'true';
@import '../../../globalimport.scss';
@import '../src/box-shadow.scss';
@include describe('__box-shadow mixin') {
    @include it('Outputs box-shadow proceeded by the -moz, and -webkit prefixes, and an ie7 spec ms-filter') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(10px 5px 5px #000);
                }
            }
            @include contains(false) {
                #cheese {
                    -moz-box-shadow: 10px 5px 5px #000;
                    -webkit-box-shadow: 10px 5px 5px #000;
                    box-shadow: 10px 5px 5px #000;
                }
            }
        }
    }
    @include it('Outputs box-shadow proceeded by the -moz, and -webkit prefixes, and an ie7 spec ms-filter') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(10px 5px 5px #000, 4px 2px 2px yellow);
                }
            }
            @include contains(false) {
                #cheese {
                    -moz-box-shadow: 10px 5px 5px #000, 4px 2px 2px yellow;
                    -webkit-box-shadow: 10px 5px 5px #000, 4px 2px 2px yellow;
                    box-shadow: 10px 5px 5px #000, 4px 2px 2px yellow;
                }
            }
        }
    }
    @include it('Outputs box-shadow:10px 5px 5px red') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(10px 5px 5px red);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: 10px 5px 5px red;
                }
            }
        }
    }
    @include it('Outputs box-shadow: 60px -16px teal') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(60px -16px teal);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: 60px -16px teal;
                }
            }
        }
    }
    @include it('Outputs box-shadow:12px 12px 2px 1px rgba(0, 0, 255, .2)') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(12px 12px 2px 1px rgba(0, 0, 255, .2));
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
                }
            }
        }
    }
    @include it('Outputs box-shadow:inset 5em 1em gold') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(inset 5em 1em gold);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: inset 5em 1em gold;
                }
            }
        }
    }
    @include it('Outputs box-shadow: 3px 3px red, -1em 0 0.4em olive') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(3px 3px red, -1em 0 0.4em olive);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: 3px 3px red, -1em 0 0.4em olive;
                }
            }
        }
    }
    @include it('Outputs box-shadow: none') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(none);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: none;
                }
            }
        }
    }
    @include it('Outputs box-shadow: inherit') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(inherit);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: inherit;
                }
            }
        }
    }
    @include it('Outputs box-shadow:unset') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(unset);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: unset;
                }
            }
        }
    }
    @include it('Outputs box-shadow:initial') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(initial);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: initial;
                }
            }
        }
    }
    @include it('Outputs box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3));
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
                }
            }
        }
    }
    @include it('Outputs box-shadow 0 0 0 2em #F4AAB9, 0 0 0 4em #66CCFF;:') {
        @include assert {
            @include output(false) {
                #cheese {
                    @include __box-shadow(0 0 0 2em #F4AAB9, 0 0 0 4em #66CCFF);
                }
            }
            @include contains(false) {
                #cheese {
                    box-shadow: 0 0 0 2em #F4AAB9, 0 0 0 4em #66CCFF;
                }
            }
        }
    }
}
