@mixin prettytext($on:true) { 
    $on: if($on == false, false, true);
    @if $on == true {
        text-rendering: optimizeLegibility;
        @include __font-feature-settings(kern 1, liga 1);

        -webkit-font-variant-ligatures: common-ligatures;
        font-variant-ligatures: common-ligatures;

        -moz-font-kerning: normal;
        -webkit-font-kerning: normal;
        font-kerning: normal;
    } @else {
        text-rendering: auto;
        @include __font-feature-settings(normal);

        -webkit-font-variant-ligatures: normal;
        font-variant-ligatures: normal;

        -moz-font-kerning: auto;
        -webkit-font-kerning: auto;
        font-kerning: auto; }}
